.App {
    background-color: rgb(235, 226, 226);
}

.App-header {
    background-color: lightgrey;
}

label {
    
    margin: 20px;
}

input {
    height: 30px;
    width: 200px;
    margin: 20px;
}

h3 {
    margin: 20px;
}