.App {
    background-color: rgb(247, 240, 240);
}

.App-header {
    background-color: orange;
    height: 60px;
}

.logo {
    font-size: 20px;
    padding: 20px;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    margin-left: -25px;
               
}

.menu ul li {
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 2px;
  background-color: lightgray;
  cursor: pointer;
  font-size: 14px;
   
}

.menu ul li.active {
    border: 1px solid rgb(90, 124, 191);
    background-color: rgb(202, 197, 197);
}

.menu ul li:hover {
    border: 1px solid rgb(90, 124, 191);
    background-color: rgb(202, 197, 197);
       
}



label {
    
    margin-left: 20px;
    font-style: bold;
}

input {
    height: 30px;
    width: 200px;
    margin: 20px;
}

h3 {
    margin: 20px;
}

